<%= form_with(model: marketplace, local: true) do |form| %>
  <% if marketplace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marketplace.errors.count, "error") %> prohibited this marketplace from being saved:</h2>

      <ul>
        <%= marketplace.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
          <%= form.label :resertaunt %>
          <%= form.text_field :resteraunt %>
  </div class="field">
  <%= form.label :image %>
  <%= form.file_field :image, accept: 'image/png,image/jpeg,image/webp' %>
  <div>
  
  </div>
  
  <div class="field">
  <%= form.label :bio %>
  <%= form.text_field :bio %>
</div>

  <div class="actions">
  <%= form.submit %>
    
  </div>
<% end %>
