
<p>
  <strong></strong>
  <%= @marketplace.patron.email.split("@")[0] %>
</p>
<% if @marketplace.image.attached? %>
  <%= image_tag @marketplace.image %> 
<% end %>

<h2>add an item</h2>
<%= form_with(model: @menu_item, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :price %>
  <%= form.text_field :price %>

  
  <div class="actions">
  <%= form.submit %> 
</div>



<% end %>
  

<%= link_to 'edit', edit_marketplace_path(@marketplace) %>
<%= link_to 'Back', marketplaces_path %>

